/* table td,
.table th {
    padding: 10px;
    padding-left: 25px;
    font-size: 1.2em;
    border-bottom: 1px solid gainsboro;
    text-align: start;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #000000;
    line-height: 1.5;
} */

.label {
    font-size: 25px;
}

.box_1 {
    background-color: #FB3E3E;
    width: 15px;
    height: 15px;
}

.box_2 {
    background-color: #FFF95F;
    width: 15px;
    height: 15px;
}

.box_3 {
    background-color: #54FC05;
    width: 15px;
    height: 15px;
}

.box_4 {
    background-color: #00FFB2;
    width: 15px;
    height: 15px;
}

.box_5 {
    background-color: #00FFFF;
    width: 15px;
    height: 15px;
}

.box_6 {
    background-color: #5FC5FF;
    width: 15px;
    height: 15px;
}

.box_7 {
    background-color: #9E9CFF;
    width: 15px;
    height: 15px;
}
