.label {
    font-size: 25px;
}

td {
    vertical-align: middle;
}

/* table tr td:first-child {
    padding-left: 30px;
} */

.table {
    margin-bottom: 0%;
}

/* да я умный, очень умный (нет конечно, какой да*н так делает емае */
.box_1 {
    background-color: #FB3E3E;
    width: 15px;
    height: 15px;
}

.box_2 {
    background-color: #FFF95F;
    width: 15px;
    height: 15px;
}

.box_3 {
    background-color: #54FC05;
    width: 15px;
    height: 15px;
}

.box_4 {
    background-color: #00FFB2;
    width: 15px;
    height: 15px;
}

.box_5 {
    background-color: #00FFFF;
    width: 15px;
    height: 15px;
}

.box_6 {
    background-color: #5FC5FF;
    width: 15px;
    height: 15px;
}

.box_7 {
    background-color: #9E9CFF;
    width: 15px;
    height: 15px;
}